params {

    reads = "data/*_{1,2}.fastq.gz"
    outdir = "results"
    genome = "assets/ref.fa"
}

profiles {

    standard {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
    }

    docker {
        docker.enabled = true
    }

    test {
        params.reads = "data/test_*_{1,2}.fastq.gz"
    }
}

process {

    cpus = 2
    memory = '4 GB'
    time = '2h'

    errorStrategy = 'retry'
    maxRetries = 2
}

timeline {
    enabled = true
}

report {
    enabled = true
}

trace {
    enabled = true
}
