params {

    reads  = "data/*_{1,2}.fastq.gz"
    outdir = "results"
    genome = "assets/reference.fa"
}

profiles {

    standard {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
    }

    docker {
        docker.enabled = true
    }

    test {
        params.reads  = "data/test/*_{1,2}.fastq.gz"
        params.outdir = "results_test"
        params.genome = "assets/reference.fa"
    }
}

process {

    cpus = 2
    memory = '4 GB'
    time = '2h'

    errorStrategy = 'retry'
    maxRetries = 2
}

timeline { enabled = true }
report    { enabled = true }
trace     { enabled = true }
